@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #bedfe8;
}

.acordion{
	max-width: 800px;
}

.acordion .contentBx{
	position: relative;
	margin: 10px 20px;
}

.acordion .contentBx .label{
	position: relative;
	padding: 10px;
	background: #2694af;
	color: #fff;
	cursor: pointer;
}

.acordion .contentBx .label::before{
	content: '+';
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	font-size: 1.5em;
}

.acordion .contentBx.active .label::before{
	content: '-';
}

.acordion .contentBx .content{
	position: relative;
	padding: 10px;
	background: #fff;
	height: 0;
	overflow: hidden;
	transition: 0.5s;
	overflow-y: auto;
}

.acordion .contentBx.active .content{
	height: 150px;
	padding: 10px;
}